<a href="https://colab.research.google.com/github/VietPham1005/Python_Basic/blob/main/List_Slicelist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ex1 : List
# Cho list sau:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

# a. Copy list thành 1 list khác và gán thành mylist2


# b. Trả về danh sách theo results(rs) sử dụng List slicer
rs1:['one', 'two', 'three']
rs2:['three', 'four', 'five']
rs3:['one', 'two', 'three']
rs4:['one', 'two']
rs5:['six', 'seven', 'eight']
rs6: ['seven', 'eight']
rs7:'eight'

# c. Thêm 'nine' , 'ten' vào list

# d. Xóa 'four' khỏi list

# e. Xóa đi item ở vị trí thứ 6

# f.Thay đổi các giá gtri thành các giá trị :
  # one : 1
  # three: 3
  # five: 5

# g. Kiểm tra xem  'four' có nằm trong danh sách không? In ra màn hình "có" nếu tìm thấy, "không" nếu không tìm thấy.

# h. Kiểm tra xem one, seven có đồng thời nằm trong list không? Nếu không in ra màn hình "cả 2 không đồng thời nằm trong list"
# [ 'three', 'four', 'five', 'six', 'seven', 'eight']

# i.Cho list sau:
mylist3 = [88,65,33,21,11,98]
#Sort mylist3 giảm dần

# Cho list sau: mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [2]:
mylist =['one','two','three','four','five','six','seven','eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# a. Copy list thành 1 list khác và gán thành mylist2

In [4]:
mylist2 = mylist [:]
print(mylist2)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# b. Trả về danh sách theo results(rs) sử dụng List slicer

In [12]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
rs1 = mylist[0:3] # tương đương với rs1 = ['one', 'two', 'three']
rs2 = mylist[3:] # tương đương với rs2 = ['four','five','six','seven','eight']
rs3 = mylist[:3] # tương đương rs3 = ['one', 'two', 'three']
rs4 = mylist[7]  # tương đương với rs4 = 'eight'
print(rs1,rs2,rs3,rs4)

['one', 'two', 'three'] ['four', 'five', 'six', 'seven', 'eight'] ['one', 'two', 'three'] eight

# c. Thêm 'nine' , 'ten' vào list

In [17]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist.append('nine')
mylist.append('ten')
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

# d. Xóa 'four' khỏi list

In [18]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist.remove('four')
mylist

['one', 'two', 'three', 'five', 'six', 'seven', 'eight']

# e. Xóa đi item ở vị trí thứ 6

In [21]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist.pop(5)
mylist

['one', 'two', 'three', 'four', 'five', 'seven', 'eight']

# f.Thay đổi các giá gtri thành các giá trị : one : 1 , three: 3 , five: 5

In [22]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist[0] = 1
mylist[2] = 3
mylist[4] = 5
print(mylist)

[1, 'two', 3, 'four', 5, 'six', 'seven', 'eight']

# g. Kiểm tra xem  'four' có nằm trong danh sách không? In ra màn hình "có" nếu tìm thấy, "không" nếu không tìm thấy.

In [23]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
if 'four' in mylist : print('Có')
else : print ('không')

Có